:80 {

	# --- n8n ---
	# n8n handles its own authentication (User Management mode)
	@n8n {
		host n8n.pushprh.com
	}
	reverse_proxy @n8n n8n:5678 {
		header_up X-Forwarded-Proto {http.request.header.X-Forwarded-Proto}
	}
}
